@media #{$phone}
{
    html
    {
        body
        {
            main
            {
                h1
                {
                    font-size: 1.875rem;
                    max-width: 315px;
                    font-family: Avenir-Roman;
                    line-height: 2.5rem;
                    margin-bottom: 1.25rem;
                }

                p
                {
                    line-height: 1.375rem;
                    margin-bottom: 1.25rem;
                }
            }
        }
    }
}