
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

//reset
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//colors
$gray: #575756;

//transitions
$fast-in-out: all .3s ease-in-out;
$slow-in-out: all .5s ease-in-out;

html
{
    body
    {
        main
        {
            h1
            {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                color: $gray;
                font-size: 2.5rem;
                margin-bottom: 1.9rem;
                line-height: 2.875rem;
            }

            p
            {
                font-family: 'Montserrat', sans-serif;
                color: $gray;
                margin-bottom: 1.9rem;
                line-height: 1.5rem;
            }

            a
            {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                color: $gray;
                text-decoration: none;

                svg
                {
                    margin-left: 2rem;
                }
            }

            .icon
            {
                width: 50px;
                height: 50px;
                margin-bottom: 15px;
            }
        }
    }
}

//media-queries
$phone: "(max-width: 640px)";