@import 'global-media-query';

@media #{$phone}
{
    html
    {
        body
        {
            main
            {
                flex-direction: column;
                height: auto;
                margin-bottom: 20px;

                #pc-only
                {
                    display: none;
                }

                #mobile-only
                {
                    display: block;
                }

                .reha, .physio
                {
                    height: 280px;
                    background-size: cover;
                    background-position: center;

                    img
                    {
                        margin: 1rem 0 0 1rem;
                    }
                }

                .reha
                {
                    margin: 20px 0;
                    background-image: url(/Assets/Bildmaterial/reha-bruck-startseite/conversory-reha-bruck-website-landing-header-frauen-knie-behandlung.jpg);

                    img
                    {
                        max-width: 6.7rem;
                    }
                }

                .physio
                {
                    background-image: url(/Assets/Bildmaterial/Physio-bruck-startseite/conversory-physio-bruck-website-landing-header-mann-schulter-therapie.jpg);
                    margin: 60px 0 20px 0;

                    img
                    {
                        max-width: 8rem;
                    }
                }

                .icons
                {
                    .icon
                    {
                        margin: 0 10px 20px 0;
                    }
                }
            }
        }
    }
}
