@import 'global';

html
{
    body
    {
        main
        {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

            #mobile-only
            {
                display: none;
            }

            .container
            {
                display: flex;
                justify-content: space-between;
                width: 96%;
                height: 93%;

                .side-container
                {
                    width: 49%;
                    overflow: hidden;

                    .cover
                    {
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer;
                        transition: $slow-in-out;

                        img
                        {
                            margin-top: 40px;
                            margin-left: 30px;
                        }
                    }

                    .left
                    {
                        background-image: url(/Assets/Bildmaterial/conversory-reha-bruck-website-landing-frauen-knie-behandlung.jpg);
                    }

                    .right
                    {
                        background-image: url(/Assets/Bildmaterial/conversory-physio-bruck-website-landing-mann-schulter-behandlung.jpg);
                    }

                    .container
                    {
                        width: 91%;
                        margin: 35px auto 0 auto;

                        .text
                        {
                            max-width: 413px;

                            a
                            {
                                .arrow
                                {
                                    transition: $fast-in-out;
                                    transform: translate(-15px, 0);

                                    &:hover
                                    {
                                        transform: scale(1.37, 1);
                                    }
                                }
                            }
                        }

                        .icons
                        {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }

                .cover-right
                {
                    .content-right
                    {
                        position: relative;
                        top: -100%;
                        height: 0px;
                        margin-bottom: -2rem;
                        transition: $slow-in-out;
                    }
                }

                .cover-left:hover > .left
                {
                    background-image: url(/Assets/Bildmaterial/reha-bruck-startseite/conversory-reha-bruck-website-landing-header-frauen-knie-behandlung.jpg);
                    height: 60%;
                }

                .cover-right:hover > .right
                {
                    background-image: url(/Assets/Bildmaterial/Physio-bruck-startseite/conversory-physio-bruck-website-landing-header-mann-schulter-therapie.jpg);
                    height: 60%;
                }

                .cover-right:hover > .content-right
                {
                    height: 40%;
                    top: 0;
                }
            }
        }
    }
}

@import 'media-query';